
.metadata {
    border-top: 1px solid hsl(227, 49%, 94%);
    border-bottom: 1px solid hsl(227, 49%, 94%);
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.swapList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.swapListItem {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid hsl(227, 49%, 94%);
}

.toast {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 240px;
    padding: 24px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
}

.toastText {
    margin: 0 0 16px;
}
