
.viewHolder {
    display: flex;
    justify-content: center;
    padding: 1rem 0 3rem;
}

.img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.iframe {
    padding: 1rem 0;
    width: 600px;
    height: 600px;
    border: none;
    display: block;
}
