@font-face {
    font-family: 'Grafista-Regular';
    src: url('/fonts/grafista-regular.woff2') format('woff2'),
    url('/fonts/grafista-regular.woff') format('woff'),
    url('/fonts/grafista-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: "Grafista-Regular", "American Typewriter", "Courier New", "Courier", monospace;
    color: #1e2a57;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    box-sizing: border-box;
    padding: 36px 24px;
    width: 100%;
}

h1 {
    font-size: 21px;
    margin: 0 0 16px 0;
}

h2 {
    font-size: 16px;
    margin: 0 0 16px 0;
}

a {
    color: #1e2a57;
    padding-bottom: 3px;
    margin-bottom: 2px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 2px solid #fff73d;
}

button {
    font-family: "Grafista-Regular", "American Typewriter", "Courier New", "Courier", monospace;
    background-color: #1e2a57;
    color: #fff73d;
    border: none;
    border-bottom: 3px solid #1e2a57;
    padding: 6px 20px 3px;
    border-radius: 0;
}

button:hover, button:focus {
    outline: none;
    background-color: #fff73d;
    color: #1e2a57;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    max-width: 400px;
}

img.single {
    max-width: 400px;
}

figure {
    display: block;
    margin: 0;
}

figure:hover {

}

figcaption {
    position: absolute;
    left: 0;
    bottom: 20px;
    background-color: #fff73d;
    color: #1e2a57;
    padding: 6px 12px;
    letter-spacing: 2px;
    font-size: 12px;
    z-index: 1;
}

footer {
    padding-top: 40px;
}

.c-yellow {
    color: #fff73d;
}

.bc-yellow {
    color: #fff73d;
}

.c-blue {
    color: #1e2a57;
}

.bc-blue {
    color: #1e2a57;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.box {
    box-sizing: border-box;
    width: 416px;
    height: 420px;
    position: relative;
    display: inline-block;
    padding: 0 16px 16px 0;
}

.ipfs-link {
    background-color: #1e2a57;
    position: absolute;
    display: block;
    top: 0;
    right: 16px;
    z-index: 2;
    width: 16px;
    height: 16px;
    padding: 2px 3px 4px;
}

.xtz {
    background-color: #1e2a57;
    position: absolute;
    bottom: 20px;
    right: 16px;
    padding: 6px 12px;
    color: #fff73d;
    letter-spacing: 2px;
    font-size: 12px;
}

.label {
    display: inline-block;
    margin-right: 12px;
    color: #1e2a57;
    font-size: 16px;
    font-family: "Grafista-Regular", "American Typewriter", "Courier New", "Courier", monospace;

}

.select {
    background-color: #ffffff;
    border: 3px solid #fff73d;
    color: #1e2a57;
    font-size: 16px;
    padding: 4px 8px;
    font-family: "Grafista-Regular", "American Typewriter", "Courier New", "Courier", monospace;
    margin-bottom: 16px;
}

.select:focus {
    border-style: dashed;
    outline: none;
}

.svg-inline--fa {
    position: relative;
    top: 3px;
    width: 16px;
}

@media screen and (max-width: 640px) {
    .wrapper {
        margin: auto;
        width: 88%;
        padding: 6% 0;
    }

    img {
        max-width: 400px;
    }

    .box {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        min-width: 240px;
        min-height: 240px;
        max-width: 416px;
        max-height: 420px;
        position: relative;
        display: block;
        padding: 0 16px 16px 0;
    }
}
